* {
  background-color: #4c4c4c;
  color: white;
  font-family: 'Merriweather Sans', sans-serif;
}

.palette {
  display: inline-table;
}

#big-circle {
  background-color: transparent;
  border: 1px solid #ff0066;
  border-radius: 10%;
  height: 400px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 400px;
}

#colorwheel {
  display: inline-flex;
  margin: 20px auto;
  position: relative;
  width: 640px;
  height: 465px;
}

.color-slice {
  background-color: transparent;
  position: absolute;
  top: 150px;
  left: 420px;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
  border-top: 200px solid;
  transform-origin: -100px 50%;
}

.color-slice-info {
  cursor: pointer;
  position: absolute;
  transform-origin: -100px 70%;
  transform: none;
}

.control-container {
  display: table-cell;
  flex-direction: column;
  height: 80px;
  vertical-align: middle;
  width: 200px;
}

#generate-new {
  margin-bottom: 20px;
}

.projects-and-palettes {
  display: inline-flex;
  flex-direction: column;
  vertical-align: top;
}

.project-form-container {
  border-bottom: 1px solid white;
}

#save-new-project {
  margin-bottom: 10px;
}

.project-palette-list-container {
  text-align: center;
}
.project-palette-list-container h5 {
  margin-top: 5px;
  font-size: 22px;
}
.project-palette-list-container h6 {
  margin-top: 5px;
  font-size: 16px;
}

.first-pal-homie {
  border: 1px solid white;
  height: 25px;
  width: 195px;
}
.pal-title {
  display: inline-block;
  margin: 0 5px 13px 5px;
  vertical-align: middle;
}
.pal-colors {
  display: inline-block;
  height: 20px;
  margin: 2px;
  width: 20px;
}
.delete-palette-btn {
  background: transparent;
  border: none;
  color: red;
  display: inline-block;
  font-family: 'Sigmar One', cursive;
  height: 20px;
  margin: 0 2px 15px 2px;
  outline: none;
  vertical-align: top;
}
